<section class="monitor-section scheduled-section">
  <div class="section-header-row">
    <div class="section-header">
      <lucide-icon [name]="HistoryIcon" class="icon-scheduled"></lucide-icon>
      <h2>Scheduled Commits</h2>
      <div class="sync-info" *ngIf="lastSyncTime">
        Last Sync:
        <strong>{{ lastSyncTime | date: 'MMM d, h:mm:ss a' }}</strong>
      </div>
    </div>
  </div>

  <kendo-grid 
    [data]="gridView" 
    [loading]="loading" 
    scrollable="none"
    class="premium-grid"
    [navigable]="true"
    filterable="row"
    [filter]="filterState"
    (filterChange)="onFilterChange($event)"
    [pageable]="true"
    [pageSize]="pageSize"
    [skip]="skip"
    (pageChange)="onPageChange($event)"
  >
    <ng-template kendoGridToolbarTemplate>
      <div class="toolbar-content">
        <kendo-grid-spacer></kendo-grid-spacer>
        
        <button kendoButton [themeColor]="'secondary'" (click)="refresh()" [disabled]="loading" fillMode="flat" type="button">
          <kendo-svgicon [icon]="refreshSVG" [class.spin]="loading"></kendo-svgicon>
        </button>
        
        <button kendoGridExcelCommand type="button" [svgIcon]="excelSVG" fillMode="outline">
          Export to Excel
        </button>
        <button kendoGridPDFCommand [svgIcon]="pdfSVG" fillMode="outline">
          Export to PDF
        </button>
      </div>
    </ng-template>

    <kendo-grid-column field="message" title="Commit Message" [filterable]="false">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="commit-msg-cell">
          <span class="message-text">{{ dataItem.message }}</span>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="authorName" title="Name / Email" [width]="200">
      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
        <kendo-grid-string-filter-cell
          [column]="column"
          [filter]="filter"
          operator="contains"
          [showOperators]="false"
        >
        </kendo-grid-string-filter-cell>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="author-cell">
          <span class="author-name">{{ dataItem.authorName }}</span>
        </div>
      </ng-template>
    </kendo-grid-column>
    
    <kendo-grid-column field="date" title="Date" [width]="200">
      <ng-template kendoGridFilterCellTemplate let-filter>
        <app-date-range-filter-cell
          [filter]="filter"
          field="date"
        ></app-date-range-filter-cell>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <span class="date-text">{{ dataItem.date | date: 'MMM d, y, h:mm a' }}</span>
      </ng-template>
    </kendo-grid-column>
    
    <kendo-grid-column field="sha" title="SHA" [width]="120" [filterable]="false">
      <ng-template kendoGridCellTemplate let-dataItem>
        <code class="sha">{{ dataItem.sha?.substring(0, 7) }}</code>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-pdf
      fileName="ScheduledCommits.pdf"
      [repeatHeaders]="true"
    ></kendo-grid-pdf>
    <kendo-grid-excel fileName="ScheduledCommits.xlsx"></kendo-grid-excel>
  </kendo-grid>
</section>
